{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

{{ form_start(form) }}

    {{ form_row(form.photo) }}

{{ form_end(form) }}

    <a href="{{ path('admin_event_index') }}">back to list</a>
{% endblock %}
