/.env
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads
###> liip_imagine_bundle path
/public/assets
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/
composer.json
composer.lock
###migrations

.php_cs.cache
