<!-- Modal structure -->
<div id="modal" style="display: none"
     data-iziModal-fullscreen="false"
     data-iziModal-title="Nuevo registro"
     data-iziModal-subtitle="Añadir un nuevo plato a la categoria"
     data-iziModal-icon="icon-home"></div>
