<!doctype html>
<html lang="es">
<head>
    <title>Su pedido está en camino</title>
</head>
<body>
<div class="main">
    <p> Gracias {{ user.username }} ! </p>
    <p> Su pedido está en camino . </p>
</div>
</body>
</html>