{{ form_start(form) }}

<ul class="dish" data-prototype="{{ form_widget(form.dish.vars.prototype)|e('html_attr') }}">

</ul>
<button type="button" class="add_item_link" data-collection-holder-class="dish">Añadir un nuevo plato</button>

{{ form_end(form) }}