<div class="row" style="padding: 1em;">
    <div class="col-sm-12">
        {{  form_start(form) }}
        <img style="border:1px solid darkgray;width:64px;height:64px;" id="output" src="">
        {{ form_widget(form.photo) }}
        <hr>
        {{  form_end(form) }}
    </div>
</div>