<!doctype html>
<html lang="es">
<head>
    <title>SignUp New User in RestaJAV</title>
</head>
<body>
<div class="main">
    <p>
        <a href="http://restaurantly.com{{ path('user_check_mail', {'token': user.token }) }}">Click here to activate your account</a>
    </p>
    <p>
        You can also copy this link in the navigation bar of your browser: http://restaurantly.com{{ path('user_check_mail', {'token': user.token }) }}
    </p>
</div>
</body>
</html>