{% extends 'back/index.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block page_slide_left %}
    <!-- start: PAGESLIDE LEFT -->
    <a class="closedbar inner hidden-sm hidden-xs" href="#"></a>
    {{ parent() }}
    <!-- end: PAGESLIDE LEFT -->
{% endblock %}

{% block main %}
    {{ parent() }}
{% endblock %}

{% block title %}Nuevo Chef{% endblock %}

{% block content %}

    <!-- start: PAGE CONTENT -->
    <div class="row">
    <div class="col-sm-12">
        <!-- start: TEXT FIELDS PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Añadir nuevo <span class="text-bold">Chef</span></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ include('chef/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}